.column {
    display:flex;
    width: 85%;
    height: 80%;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 10rem auto;
}

 .card {
height: 400px;
width: 300px;
border:5px solid #454545;
margin: 10px;
background-color: white;
display:flex;
flex-direction: column;
align-items: top;
align-items: center;
justify-content: space-around;
 border-radius: 20px;
 }
.img 
  {
flex-wrap: wrap;
align-items: center;
height: 60%;
width: 80%;
border:2.5px solid #454545;
  }

  body {
    background-color:lightslategray
  }